<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Create Account</h2>
    <p class="subtitle">Register to get started</p>

<form [formGroup]="form" (ngSubmit)="register()">
<input placeholder="Username" formControlName="userName" />
<input placeholder="First Name" formControlName="firstName" />
<input placeholder="Last Name" formControlName="lastName" />
<input placeholder="Email" formControlName="email" />
<input type="password" placeholder="Password" formControlName="password" />
<input placeholder="Phone" formControlName="phone" />
<input placeholder="Company" formControlName="company" />


      <button type="submit" class="primary-btn">
        Register
      </button>
    </form>

    <p class="switch">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
