<div class="auth-wrapper">
  <div class="auth-card">

    <h2>Login</h2>

    <form [formGroup]="form" (ngSubmit)="login()">

     
      <div class="form-group">
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
        />

        <small class="error"
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          Email is required
        </small>
      </div>

     
      <div class="form-group password-wrapper">
        <input
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
        />

        <button
          type="button"
          class="eye-btn"
          (click)="togglePassword()"
          aria-label="Toggle password"
        >
          <svg *ngIf="hidePassword" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
            <circle cx="12" cy="12" r="3"/>
          </svg>

          <svg *ngIf="!hidePassword" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M17.94 17.94A10.94 10.94 0 0 1 12 20c-7 0-11-8-11-8a21.77 21.77 0 0 1 5.06-6.94"/>
            <path d="M1 1l22 22"/>
          </svg>
        </button>

        <small class="error"
          *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
          Password is required
        </small>
      </div>

      <button class="primary-btn" type="submit" [disabled]="form.invalid">
        Login
      </button>

    </form>

    <p class="switch">
      Don’t have an account?
      <a routerLink="/register">Register</a>
    </p>

  </div>
</div>
