<div class="auth-wrapper">
  <div class="auth-card">

    <h2>Change Password</h2>

    <form [formGroup]="form" (ngSubmit)="changePassword()">

      <div class="form-group">
        <input placeholder="Email" formControlName="email" />
        <small class="error"
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
          Email is required
        </small>
        <small class="error"
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']">
          Enter a valid email
        </small>
      </div>

    
<div class="form-group password-wrapper">
  <input
    [type]="hideOldPassword ? 'password' : 'text'"
    placeholder="Old Password"
    formControlName="oldPassword"
  />

  <button type="button" class="eye-btn" (click)="toggleOldPassword()">

    <svg *ngIf="hideOldPassword"
      xmlns="http://www.w3.org/2000/svg"
      width="18" height="18"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24">
      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
      <circle cx="12" cy="12" r="3"/>
    </svg>


    <svg *ngIf="!hideOldPassword"
      xmlns="http://www.w3.org/2000/svg"
      width="18" height="18"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24">
      <path d="M17.94 17.94A10.94 10.94 0 0 1 12 20c-7 0-11-8-11-8a21.77 21.77 0 0 1 5.06-6.94"/>
      <path d="M1 1l22 22"/>
    </svg>
  </button>

  <small class="error"
    *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.invalid">
    Old password is required
  </small>
</div>


<div class="form-group password-wrapper">
  <input
    [type]="hideNewPassword ? 'password' : 'text'"
    placeholder="New Password"
    formControlName="newPassword"
  />

  <button type="button" class="eye-btn" (click)="toggleNewPassword()">

    <svg *ngIf="hideNewPassword"
      xmlns="http://www.w3.org/2000/svg"
      width="18" height="18"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24">
      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
      <circle cx="12" cy="12" r="3"/>
    </svg>

    <svg *ngIf="!hideNewPassword"
      xmlns="http://www.w3.org/2000/svg"
      width="18" height="18"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24">
      <path d="M17.94 17.94A10.94 10.94 0 0 1 12 20c-7 0-11-8-11-8a21.77 21.77 0 0 1 5.06-6.94"/>
      <path d="M1 1l22 22"/>
    </svg>
  </button>

  <small class="error"
    *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.errors?.['required']">
    New password is required
  </small>
</div>


      <button class="primary-btn" type="submit" [disabled]="form.invalid || isSubmitting"> {{ isSubmitting ? 'Please wait...' : 'Change Password' }}</button>

    </form>

    <!-- <p class="switch">
      Back to
      <a routerLink="/login">Login</a>
    </p> -->

  </div>
</div>
