// @font-face {
//     font-family: "Inter_T";
//     src: url("../assets/fonts/Inter/font-types/Inter-Thin.ttf");
// }

// @font-face {
//     font-family: "Inter_L";
//     src: url("../assets/fonts/Inter/font-types/Inter-Light.ttf");
// }

// @font-face {
//     font-family: "Inter_R";
//     src: url("../assets/fonts/Inter/font-types/Inter-Regular.ttf");
// }

// @font-face {
//     font-family: "Inter_M";
//     src: url("../assets/fonts/Inter/font-types/Inter-Medium.ttf");
// }

// @font-face {
//     font-family: "Inter_SB";
//     src: url("../assets/fonts/Inter/font-types/Inter-SemiBold.ttf");
// }

// @font-face {
//     font-family: "Inter_B";
//     src: url("../assets/fonts/Inter/font-types/Inter-Bold.ttf");
// }

// @font-face {
//     font-family: "Inter_EB";
//     src: url("../assets/fonts/Inter/font-types/Inter-ExtraBold.ttf");
// }

:root {
    --font-primary: "Inter_R", sans-serif;
    --font-thin: "Inter_T", sans-serif;
    --font-light: "Inter_L", sans-serif;
    --font-medium: "Inter_M", sans-serif;
    --font-semi-bold: "Inter_SB", sans-serif;
    --font-bold: "Inter_B", sans-serif;
    --font-extrabold: "Inter_EB", sans-serif;
    --font-fancy: "roc-grotesk", sans-serif;
}

/** Font family **/
.font-primary { font-family: var(--font-primary);}
.font-thin { font-family: var(--font-thin);}
.font-light { font-family: var(--font-light);}
.font-medium { font-family: var(--font-medium);}
.font-semi-bold {font-family: var(--font-semi-bold);}
.font-bold { font-family: var(--font-bold);}
.font-extrabold { font-family: var(--font-extrabold);}

/** Font weight **/
.font-400 { font-weight: 400;}
.font-500 { font-weight: 500 !important;}
.font-600 { font-weight: 600 !important;}
.font-700 { font-weight: 700 !important;}
.font-800 { font-weight: 800 !important;}

/** Font size **/
.font-8 { font-size: 8px; }
.font-10 { font-size: 10px; }
.font-12 { font-size: 12px !important;}
.font-14 { font-size: 14px !important;}
.font-16 { font-size: 16px !important;}
.font-18 { font-size: 18px !important;}
.font-20 { font-size: 20px !important;}
.font-24 { font-size: 24px !important;}
.font-45 { font-size: 45px !important;}
