/* Toggle switch CSS
    ========================================================================== */
.toggle-switch {
    padding: 0;
    cursor: pointer;
    line-height: 11px;
    display: inline-block;
    position: relative;
    input {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 1000;
    }
    .slider {
      position: relative;
      display: inline-block;
      width: 34px;
      height: 18px;
      background: var(--color-gray);
      border-radius: 50px;
      border: 1px solid transparent;
      transition: all 0.3s ease-in-out;
      &:has(input:focus) {
        border: 1px solid var(--color-primary);
      }
    }
    .slider:before {
      content: "";
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      left: 2px;
      top: 2px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
    }
    .slider:has(input:checked) {
        background: var(--color-primary);
       border-color: var(--color-primary);
    }
    .slider:has(input:checked)::before {
        left: 55%;
       transform: none;
    }
}

/* Form group CSS
    ========================================================================== */
.form-group {
  margin-bottom : 17px;
}