.layout-container {
  height: 100vh;
}


mat-sidenav {
  width: 240px;
  background-color: #1e1e1e;
  color: #ffffff;
}


mat-sidenav-content {
  background-color: #f4f6f8;
}


.page-content {
  padding: 24px;
}
